/Labs/Lab_04/target/
/Assignment/Assignment_1/Assignment_1/target/
/Labs/Lab_05/target/
/Labs/Lab_06/Lab_06/target/
/Assignment/Assignment_02/Assignment_02/target/
/Labs/Lab_08/Lab_08/target/
/OOP/OopLec3/OopLec3/target/
/OOP/OopLec3/target/
/OOP/Inhertitance/target/
/OOP/Calculator/target/
/Labs/Lab_13/target/
/Recipet Printer/Recipet/target/
/Summer Class/Class 1/Class_1/target/
